In [17]:
import pandas as pd
 
# intialise data of lists. Product, Price, and Quantity.
#data = {'PRODUCT':['Rice', 'Peanuts', 'Beans', 'Water', 'oil'],
     #   'PRICE':[20, 21, 19, 18, 17],
       # 'QUANTITY':[500, 1, 50, 9, 5]}
data = {
        'PRICE':[20, 21, 19, 18, 17],
        'QUANTITY':[500, 1, 50, 9, 5]}

# Creating the first dataframe 
df1=pd.DataFrame({"A":[14,4,5,4,1],
                  "B":[5,2,54,3,2],
                  "C":[20,20,7,3,8],
                  "D":[14,3,6,2,6]})
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

# find multiplication over the index axis
df.mul(df, axis = 0)

df1.mul(df2, fill_value = 100)

   PRICE  QUANTITY
0     20       500
1     21         1
2     19        50
3     18         9
4     17         5

   PRICE  QUANTITY
0    400    250000
1    441         1
2    361      2500
3    324        81
4    289        25