In [20]:
#STRING SLICING

#PRINT FROM CHAR NO.9
a = 'Priscilla Nkuna'
print(a[9:15])

#PRINT THE 1ST 5 CHAR.
b = "Priscilla Nkuna"
print(b[:5])

#PRINT FROM THE SPECIFIED NO. TO THE LAST CHAR
c = 'Priscilla Nkuna'
print(a[10:])

#NEGATIVE INDEXING(minus characters)
d = "Priscilla Nkuna"
print(d[-10:-5])

 Nkuna
Prisc
Nkuna
illa

In [52]:
#MODIFYING STRING

#UPPERCASE 
a = "Priscilla Nkuna"
print (a.upper())

#LOWERCASE
b = "PRISCILLA NKUNA"
print(b.lower())

#REMOVE WHITESPACE(removes any whitespace from beginning or end)
c = "  Priscilla Nkuna  "
print(c.strip())

#REPLACE STRING 
d = "Priscilla Nkuna"
print(d.replace("N","P"))

#SPLIT STRING
e = "Priscilla Nkuna"
print(e.split(","))

PRISCILLA NKUNA
priscilla nkuna
Priscilla Nkuna
Priscilla Pkuna
['Priscilla Nkuna']

In [64]:
 #STRING FORMMATTING 

#CREATING AN f STRING 
age = 36
txt = f"My name is John, I am {age}"
print(txt)

#PLACEHOLDERS 
price = 59
txt = f"The price is {price} dollars"
print(txt)

#DISPLAY PRICE IN 2 DECIMAL PLACES
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

#MATHEMATICAL OPERATOR PLACE HOLDER
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars